.message-wrapper {
  float: none;
  clear: both;
  padding: 3px 9px;
}


.from_me {

  float: right;
  background: green;
}


.to_me {
  float: left;
  background: gray;
}

.message-content {
  .message {
    max-width: 300px;
  }
  max-width: 300px;
}

.text {
  word-break: break-all;
  word-wrap: break-word;
}

.conversation {
  background: lightgreen;
  margin: 0 auto;
  width: 60%;
  min-width: 400px;
  height: 100%;
  overflow:scroll;
}



